.App {
  text-align: center;
  background-color: #f4f4f4;
}

.App-logo {
  height: 35px;
  vertical-align: -webkit-baseline-middle;
}
.App-logo-link{
  vertical-align: -webkit-baseline-middle;
}

.App-header {
  background-color: #1c9b97;
  height: 50px;
  /*width: 100%;*/
  padding: 5px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
