.tagEdit {
  text-align: left;
}

.innerTagEdit {
  text-align: left;
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
.tagButton {
	width:100px;
	height: 30px;
	margin: 5px;
	color: white;
	background-color: #02B875;
	border-radius: 3px 3px 3px 3px;
	border: 0px;
}
